<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
      main {
        min-height: 95vh;
      }

      @media (max-width: 2000px) {
        main form {
          margin: 3em auto;
          max-width: 1200px;
        }
      }

      @media (min-width: 2000px) {
        main form {
          margin-top: 3em;
          display: grid;
          grid-template-columns: 1fr 5fr 10fr 1fr;
          column-gap: 2em;
        }

        section {
          grid-column: 3;
        }
        nav {
          grid-column: 2;
          grid-row-start: 2;
          grid-row-end: 1000;
          align-self: start;
        }
        footer {
          grid-column-start: 1;
          grid-column-end: 5;
        }
      }

      footer {
        margin-top: 2em;
        border-top: 1px solid black;
      }

      p, pre, div.chart, div.description {
        max-width: 800px;
      }

      /* Headings.  */
      h1 > a, h2 > a, h3 > a {
        text-decoration: none;
        color: black;
      }
      h1 > a:hover:after, h2 > a:hover:after, h3 > a:hover:after {
        content: "⁋";
        margin-left: 0.5em;
      }

      ul.tags {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      ul.tags li {
        display: inline-block;
        background: #ddd;
        padding: 0.3em;
        border-radius: 1em;
      }

      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
      }

      table thead {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
      }

      tr th { width: 2%; }
      tr th:nth-child(1) { width: 10%; }
      tr th:nth-child(2) { width: 3%; }
      tr th:nth-last-child(0) { width: 10%; }
      tr th:nth-last-child(1) { width: 20%; }

      table td { border-left:   1px solid #ccc }
      table tr { border-bottom: 1px solid #ccc }

      table th { text-align: left }
      table th, table td:first-child, table td:last-child { padding: 1px 5px }

      table.matrix td { text-align: center }
      table.matrix td:last-child { text-align: left }

      /* Rotate table headings.  */
      table.matrix th.rotate {
        height: 120px;
        white-space: nowrap;
      }

      table.matrix th.rotate > div {
        transform: translate(50%, 51px) rotate(315deg);
        transform-origin: bottom left;
        max-width: 50px;
        position: relative;
      }
      table.matrix th.rotate > div > span {
        padding: 5px 10px;
      }
      /* /Rotate table headings.  */

      table.matrix tr.vector td:first-child {
        text-align: left;
      }

      table.matrix tr.vector.with-profile td:first-child {
        padding-left: 30px;
        position: relative;
        z-index: 0;
      }
      table.matrix tr.vector.with-profile td:first-child::before {
        content: "⤷ ";
        position: absolute;
        transform: translate(-15px, -2px);
      }
      table.matrix tr.vector:has(+ tr.vector.with-profile) {
        border-bottom-style: dotted;
      }

      table.matrix tr.vector-BaseCase {
        font-weight: bold;
      }

      td.score {
        border-left: 1px solid #ccc;
        text-align: center;
      }
      .score:focus-within { outline: solid 2px blue; }

      .score .details {
        position: fixed;
        top: 1em;
        left: 1em;
        display: none;
        margin: 0.5em;
        padding: 1em;
        border: solid 2px black;
        background: #eee;
        text-align: left;
        max-height: 300px;
        max-width: calc(100% - 5em);
        overflow: auto;
      }
      .score:hover .details {
        display: block;
        z-index: 3;
        pointer-events: none;
      }
      .score:focus-within .details {
        display: block;
        z-index: 2;
        border-color: blue;
        pointer-events: all;
      }
      .score .details button {
        position: absolute;
        user-select: none;
        height: 1.4em;
        font-size: .7em;
        line-height: .7em;
        vertical-align: top;
      }
      .score .details pre {
        max-width: none;
        margin: 0;
        line-height: 1.4;
      }
      .score .details pre.command, .score .details pre.command ~ pre {
        margin-left: 45px;
      }
      .score .details pre.command:before { content: "$ "; }
      .score .details pre.command.pipe + .command:before,
      .score .details pre.command.pipe + button + .command:before { content: "> "; }
      .score .details pre.hexdump:after { content: " | hexdump "; }
      .score .details pre.error { color: #d00; }
      .score .details p {
        margin-bottom: 0;
        user-select: none;
      }
      .score:focus-within .details p { display: none; }

      .score-success {
        background: no-repeat left top url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPjxwYXRoIHN0eWxlPSJzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MXB4IiBkPSJtIDEwLDAgLTEwLDEwIi8+PC9zdmc+Cg==);
        background-color: lime;
      }

      .score-failure {
        background: no-repeat right top url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPjxwYXRoIHN0eWxlPSJzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MXB4IiBkPSJtIDEwLDEwIC0xMCwtMTAiLz48L3N2Zz4K);
        background-color: red;
      }

      .score-unsupported {
        background: no-repeat left bottom url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPjxwYXRoIHN0eWxlPSJzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MXB4IiBkPSJtIDEwLDEwIC0xMCwtMTAiLz48L3N2Zz4K);
        background-color: lightyellow;
      }

      .score-io, .score-unknown {
        background: no-repeat right bottom url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPjxwYXRoIHN0eWxlPSJzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MXB4IiBkPSJtIDEwLDAgLTEwLDEwIi8+PC9zdmc+Cg==);
        background-color: lightsalmon;
      }

      table tfoot td:last-child span {
        /* Simulate a colspan of all remaining columns */
        display: inline-block;
        width: 60vw;
      }

      figure {
        border: solid 1px black;
        padding: 25px 50px;
        margin: 0px;
        max-width: 700px;
      }
      figure figcaption {
        text-align: center;
        margin-top: 2em;
      }

      pre, code {
        background-color: #eee;
      }

      /* Search functionality.  */
      input#search-input {
        width: 800px;
        font-size: 150%;
      }

      /* Chart code courtesy of https://codepen.io/Victa/pen/xDqbf */
      .chart {
        position: relative;
        margin-top: 2em;
      }

      .chart > ul {
        display: table;
        table-layout: fixed;
        width: 60%;
        height: 200px;
        margin-bottom: 160px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
        background-size: 100% 49.8px;
        background-position: left 1px;
      }
      .chart > ul > li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        height: 200px;
      }
      .chart > ul > li > span {
        margin: 0 0.5em;
        display: block;
        background: rgba(163, 224, 255, 0.75);
        animation: draw 1s ease-in-out;
      }
      .chart > ul > li.prerelease > span {
        background: rgba(209, 236, 250, 0.75);
      }
      .chart > ul li > span > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 5px 1em 0;
        display: block;
        text-align: center;
        word-wrap: break-word;
        transform: rotate(90deg);
      }
      .chart > ul li > span > span > span {
        position: absolute;
        top: -0.5em;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @keyframes draw {
        0% {
          height: 0;
        }
      }

      /* Chart labels */
      .chart > span {
        position: absolute;
        color: rgba(0, 0, 0, 0.5);
      }

      /* /Chart */
    </style>
    {% block more_head %}{% endblock %}
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
      <footer>
        <p>
          OpenPGP interoperability test suite version {{version}}
          (<a href="https://gitlab.com/sequoia-pgp/openpgp-interoperability-test-suite/commit/{{
                    commit }}">{{commit}}</a>) powered
          by <a href="https://sequoia-pgp.org">Sequoia-PGP</a>.
        </p>
      </footer>
    </main>
    <script>
      (() => {
        {% include "artifacts.js" %}
      })();
    </script>
  </body>
</html>
