<h1><a name="how-to" href="#how-to">How to read the test results</a></h1>
<p>
  Tests are loosely coupled in categories.  Both tests and categories
  have anchors and can be linked to.  The anchors should be stable
  enough to be included in commit messages and documentation.  Every
  test describes the setup, and may introduce terminology used in the
  test results.  Additional resources (e.g. certificates) required by
  the test can be inspected by clicking on the inspect button
  (<button type="submit" title="Inspect with packet dumper"
  disabled="true">🔎</button>).  The results are in tabular form.  The
  producers are on the left going down, the consumers on the top going
  right.
</p>
<p>
  There are two kinds of tests.  In producer-consumer tests, the
  OpenPGP implementations being tested produce an artifact (e.g. they
  encrypt a message), and every implementation is used to consume the
  artifact (e.g. to decrypt the encrypted message).  In consumer
  tests, the artifacts are produced by the test suite, and consumed by
  every OpenPGP implementation.  In either case, the artifact that is
  consumed can be inspected by clicking on the inspect button
  (<button type="submit" title="Inspect with packet dumper"
  disabled="true">🔎</button>) in the second column in every row.  If
  a producer failed to produce an artifact, or the artifact did not
  conform to the expectation, a cross mark (✗) is displayed.  Hovering
  over it with the mouse pointer reveals the error message in a
  tooltip.
</p>
<p>
  Each row now contains the result of consuming the row's artifact
  using the different OpenPGP implementations.  Here, a check mark
  (✓) indicates that the operation was successful.  The resulting
  output (e.g. the decrypted message) can be found in the tooltip.
  Like before, a cross mark (✗) indicates that the operation was
  not successful, or the produced artifact did not meet
  expectations.  Again, details can be found in the tooltip.
</p>
<p>
  If an operation is not supported by an implementation, the result is
  marked as failing with a cross mark (✗) with a light-yellow
  background and a diagonal line in the bottom-left corner.  Details
  can be found in the tooltip.
</p>
<p>
  If an operation is not done correctly by an implementation, i.e. the
  operation returned success, some data was produced, but the test
  suite found an issue with the produced data, or the operation failed
  in any other way (say communication with the backend failed), the
  result is marked as failing with a cross mark (✗) with a light-red
  background and a diagonal line in the bottom-right corner.  Details
  can be found in the tooltip.
</p>
<p>
  Up to this point, we did not judge whether or not a operation
  should be successful or not, we merely recorded the facts.  This
  answers the question of how implementations react to certain
  inputs, and we can quantify that and have an informed
  conversation about the consequences.  But, we observed that the
  bare results were hard to interpret, a problem exacerbated by
  the vastness of the results due to combinatorial effects.
</p>
<p>
  To address this, most tests now have an expectation for the outcome,
  and an explanation for the expected outcome.  (If one of these
  expectations disagree with you,
  please <a href="https://gitlab.com/sequoia-pgp/openpgp-interoperability-test-suite/issues">get
  in touch</a>!)  If the result of an operation agrees with the
  expectation, the result has a green background and has a diagonal
  line in the top-left corner.  If they disagree, the background is
  red and the line is in the top-right corner.
</p>
<figure>
  <h3><a name="example-test" href="#example-test">Example test</a></h3>
  <p>
    This is an example.
  </p>
  <p>
    Additional artifacts:
    <ul>
      <li>
        <label>
          Certificate
          <button type="submit" title="Inspect with packet dumper" disabled="true">🔎</button>
        </label>
      </li>
    </ul>
  </p>
  <table class="matrix example">
    <tr style="border: none">
      <th></th>
      <th class="rotate"><div><span>Consumer</span></div></th>
      <th class="rotate"><div><span>FooPGP 1</span></div></th>
      <th class="rotate"><div><span>BarPGP 2</span></div></th>
      <th class="rotate"><div><span>BazPGP 3</span></div></th>
      <th class="rotate"><div><span>PartialPGP 4</span></div></th>
      <th class="rotate"><div><span>Expectation</span></div></th>
      <th class="rotate"><div><span>Comment</span></div></th>
    </tr>
    <tr>
      <th>Producer</th>
      <th>Artifact</th>
    </tr>
    <tr class="vector vector-BaseCase">
      <td>Base case</td>
      <td class="score">
        <button type="submit" title="Inspect with packet dumper" disabled="true">🔎</button>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score">
        <span>✓</span>
      </td>
      <td class="score">
        <span>Interoperability concern.</span>
      </td>
    </tr>
    <tr class="vector vector-Default">
      <td>Well-formed variant</td>
      <td class="score">
        <button type="submit" title="Inspect with packet dumper" disabled="true">🔎</button>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-success">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-failure">
        <span title="Error message">✗</span>
      </td>
      <td class="score score-unsupported">
        <span title="Unsupported algorithm">✗</span>
      </td>
      <td class="score">
        <span>✓</span>
      </td>
      <td class="score">
        <span>Interoperability concern.</span>
      </td>
    </tr>
    <tr class="vector vector-Default">
      <td>Malformed variant</td>
      <td class="score">
        <button type="submit" title="Inspect with packet dumper" disabled="true">🔎</button>
      </td>
      <td class="score score-success">
        <span title="Error message">✗</span>
      </td>
      <td class="score score-failure">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-success">
        <span title="Error message">✗</span>
      </td>
      <td class="score score-unknown">
        <span title="Some issue with the produced artifact">✗</span>
      </td>
      <td class="score">
        <span>✗</span>
      </td>
      <td class="score">
        <span>Message is malformed.</span>
      </td>
    </tr>
    <tr class="vector vector-Default">
      <td>Weird variant</td>
      <td class="score">
        <button type="submit" title="Inspect with packet dumper" disabled="true">🔎</button>
      </td>
      <td class="score">
        <span title="Error message">✗</span>
      </td>
      <td class="score">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score">
        <span title="Output of the successful operation">✓</span>
      </td>
      <td class="score score-io">
        <span title="Writing to child process failed">✗</span>
      </td>
      <td class="score">
      </td>
      <td class="score">
      </td>
    </tr>
    <tr class="vector vector-Default">
      <td>Producer failure</td>
      <td class="score score-failure">
        <span title="Producer failed">✗</span>
      </td>
      <td class="score">
      </td>
      <td class="score">
      </td>
      <td class="score">
      </td>
      <td class="score">
      </td>
      <td class="score">
        <span>✓</span>
      </td>
      <td class="score">
        <span>Should work (TM).</span>
      </td>
    </tr>
  </table>
  <figcaption>An example consumer test result</figcaption>
</figure>
