<div class="test-result">
<h3><a name="{{slug}}" href="#{{slug}}">{{title}}</a></h3>
<ul class="tags">
  {%- for tag in tags -%}
  <li>{{tag}}</li>
  {%- endfor -%}
</ul>
<div class="description">
  {{description | safe}}
</div>
{%- if artifacts -%}
<p>
  Additional artifacts:
  <ul>
    {%- for artifact in artifacts -%}
    <li>
      <label>
        {{artifact.0}}
        <button type="submit" title="Inspect with packet dumper" data-value="{{artifact.1 | pgp2string}}">🔎</button>
      </label>
    </li>
    {%- endfor -%}
  </ul>
</p>
{%- endif -%}
<table class="matrix">
  <thead>
    <tr style="border: none">
      <th></th>
      <th class="rotate"><div><span>Consumer</span></div></th>
      {%- for impl in consumers -%}
      <th class="rotate"><div><span>{{impl.summary}}</span></div></th>
      {%- endfor -%}
      <th class="rotate"><div><span>Expectation</span></div></th>
      <th class="rotate"><div><span>Comment</span></div></th>
    </tr>
    <tr>
      <th>Producer</th>
      <th>Artifact</th>
      {%- for impl in consumers -%}
      <th></th>
      {%- endfor -%}
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    {%- for row in results -%}
    <tr class="vector vector-{{row.class}}
    {%- if row.artifact.producer is starting_with("profile:") %} with-profile{% endif -%}
    " data-producer="{{ row.artifact.producer_imp }}">
      <td>{{ row.artifact.producer | escape | linebreaksbr | safe }}</td>
      <td tabindex="0" class="score {{ row.artifact.score | score2class }}">
        {%- if row.artifact.data -%}
        <button type="submit" title="Inspect with packet dumper">🔎</button>
        {%- endif -%}
        {%- if row.artifact.error -%}
        ✗
        {%- endif -%}
        <div class="details">
          {%- if row.artifact.command -%}
          {%- for line in row.artifact.command | split(pat="\n") -%}
          <pre class="command
            {%- if line is containing(" | ") or line is ending_with("\") %} pipe{% endif -%}
          ">{{line}}</pre>
          {%- endfor -%}
          {%- endif -%}
          {%- if row.artifact.error -%}
          <pre class="error">{{row.artifact.error}}</pre>
          {%- endif -%}
          {%- if row.artifact.data -%}
          <pre class="data">{{row.artifact.data | pgp2string}}</pre>
          {%- endif -%}
          <p>(click to lock in place)</p>
        </div>
      </td>
      {%- if row.results -%}
      {%- for result in row.results -%}
      {%- if result -%}
      <td tabindex="0" class="score {{ result.score | score2class }}">
        {%- if result.error -%}
        ✗
        {%- else -%}
        ✓
        {%- endif -%}
        <div class="details">
          {%- for line in result.command | split(pat="\n") -%}
          <pre class="command
            {%- if loop.last and result.data and result.command is not ending_with("check-recipients") %} hexdump{% endif -%}
            {%- if line is containing(" | ") or line is ending_with("\") %} pipe{% endif -%}
          ">{{line}}</pre>
          {%- endfor -%}
          {%- if result.error -%}
          <pre class="error">{{result.error}}</pre>
          {%- endif -%}
          {%- if result.data -%}
          {%- if result.command is ending_with("check-recipients") -%}
          <pre class="data">
          {%- for line in result.data | hexdump | split(pat="\n") -%}
            {{ line | split(pat="  ") | last | trim }}{{ " " }}
          {%- endfor -%}
          </pre>
          {%- else -%}
          <pre class="data">{{result.data | hexdump}}</pre>
          {%- endif -%}
          {%- endif -%}
          <p>(click to lock in place)</p>
        </div>
      </td>
      {%- else -%}
      <td></td>
      {%- endif -%}
      {%- endfor -%}
      {%- else -%}
      {%- for _ in consumers -%}
      <td></td>
      {%- endfor -%}
      {%- endif -%}
      <td class="score">
        {%- if row.consumer_expectation -%}
          {%- if row.consumer_expectation.Ok -%}
            <span>✓</span>
          {%- else -%}
            <span>✗</span>
          {%- endif -%}
          {%- if tags is containing("draft") -%}
          <span title="The expectation is inverted for non-prerelease implementations because this test references a draft.">
            ℹ️
          </span>
          {%- elif row.artifact.producer is starting_with("profile: ") and
            row.artifact.producer | trim_start_matches(pat="profile: ") | is_unknown_draft -%}
          <span title="The expectation is inverted for non-prerelease consumers because the producer artifact was generated using a profile referencing an unknown draft.">
            ℹ️
          </span>
          {%- endif -%}
        {%- endif -%}
      </td>
      <td class="score">
        {%- if row.consumer_expectation -%}
          {%- if row.consumer_expectation.Ok -%}
            <span>{{ row.consumer_expectation.Ok }}</span>
          {%- else -%}
            <span>{{ row.consumer_expectation.Err }}</span>
          {%- endif -%}
        {%- endif -%}
      </td>
    </tr>
    {%- endfor -%}
  </tbody>
  {%- if results[0].producer_expectation and results[0].producer_expectation != results[0].consumer_expectation -%}
  <tfoot>
    <tr>
      <td>Producer expectation:</td>
      <td>
        {%- if results[0].producer_expectation -%}
          {%- if results[0].producer_expectation.Ok -%}
            <span>✓</span>
          {%- else -%}
            <span>✗</span>
          {%- endif -%}
        {%- endif -%}
      </td>
      <td>
        {%- if results[0].producer_expectation.Ok -%}
          <span>{{ results[0].producer_expectation.Ok }}</span>
        {%- else -%}
          <span>{{ results[0].producer_expectation.Err }}</span>
        {%- endif -%}
      </td>
    </tr>
  </tfoot>
  {%- endif -%}
</table>
</div>
